body {
	background: $white;
	font: 19px $font;
    line-height:1.2;
	-webkit-text-size-adjust: 100%;
	color: $gray-dark;
    height: 100%;
}

html, .g-half, .gi {
    height: 100%;
}

div {
    position: relative;
}

#content {
    //padding-top: 267px;
    background: $blue;

    @media screen and (max-width: $bp-med) {

    }
}