/* Text-Related Elements */ 
p {
	margin-bottom: 1.2em;
    font-weight: 300;
}

/* Blockquote */
blockquote {
    font-style:italic;
    border-left: 1px solid $gray;
    color: $gray;
	padding-left: $pad;
	margin-bottom: $space;
}

/* Horizontal Rule */ 
hr {
	border: 0;
    height: 2px;
    background: $gray-light-2;
    margin: $space-double 0;

    &.light {
        background: $offwhite;
    }
}

abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
}

time {
    font-family: $font-secondary;
    font-style: italic;
    font-size: 0.9em;
}
.whoweare p {
    font-size: 1.25em;
}