.header {
	background: $blue;
	padding: 0;
}

.logo {
	display: block;
	text-align: center;
	width: 50%;
	margin: 0 auto;

	@media all and (min-width: $bp-med) {
		.max-width: 9rem;
	}
}

.nav-toggle {
	float: right;
	display: block;
	padding: 0.9rem 1rem 0.7rem;
	font-size: 1.3rem;
	line-height: 1;
	border-left: 1px solid #dbdbdb;

	@media all and (min-width: $bp-med) {
		display: none;
	}
}

.search-form {
	overflow: hidden;
	max-height: 0;

	@media all and (min-width: $bp-med) {
		float: right;
		max-height: none;
		margin: 0.65em 0.5em 0 0;
	}
}

.subhead {
	text-align: center;
	padding: $pad*3 0;
}