header {
	background: $blue;
	padding: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
	display: block;
	text-align: center;
	width: 40%;
	margin: 50px auto $space;

	@media all and (max-width: $bp-large) {
        margin: $space auto;
	}
}

.nav a.logo-mini {
    display: none;
    width: 46px;
    height:35px;
    position: absolute;
    top:1.25rem;
    left:0;
    overflow:hidden;
    padding:0;
    margin:0;
}

.subnav {
    height: 0;
    position: absolute;
    background: $offwhite;
    width: 100%;
    z-index: 1;
    overflow: hidden;

    .show {
        height: auto;
    }
}

.nav-toggle {
	float: right;
	display: block;
	padding: 0.9rem 1rem 0.7rem;
	font-size: 1.3rem;
	line-height: 1;
	border-left: 1px solid #dbdbdb;

	@media all and (min-width: $bp-med) {
		display: none;
	}
}

.search-form {
	max-height: 0;

	@media all and (min-width: $bp-med) {
		float: right;
		max-height: none;
	}
}

.subhead {
	text-align: center;
	padding: $pad*4 0;

    .page & {
        padding: $pad*8 0;
    }

    &.stories {
        background-color: $purple;
    }
    &.news {
        background-color: $red;
        color: $offwhite;
    }
    &.resources {
        background-color: $gray;
    }
    &.staff {
        background-color: $green-dark;
        color: $offwhite;
    }
    &.community {
        @extend .bg;
    }
    &.careers {
        background-color: $gray-dark;
        color: $offwhite;

        a {
            color: $offwhite;

            &:hover {
                color: $gray-light;
            }
        }
    }
}

h2, time {
    &.stories {
        color: $purple;

        a &:hover {
            color: darken($purple, 20%);
        }
    }
    &.news {
        color: $red;

        a &:hover {
            color: darken($red, 20%);
        }
    }
    &.resources {
        color: $gray;

        a &:hover {
            color: darken($gray, 20%);
        }
    }
    &.staff {
        color: $green-dark;

        a &:hover {
            color: darken($green-dark, 20%);
        }
    }
}