/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav {
	clear: none;
	overflow: hidden;
	max-height: none;
	border-top: 1px solid $offwhite;
	text-align: center;

    .current-menu-item a, .current-menu-parent a {
        color: $gray;
    }

    a {
		display: block;
		padding: $pad;
		color: $offwhite;
		text-transform: uppercase;

		&:hover, &:active {
			color: $gray;
		}
	}

	&.active {
		max-height: 40em;
	}

	ul {
		display: inline-block;
		text-align: center;

		li {
			float: left;
		}

		a {
			border: 0;
		}
    }
}

//Pagination
.pagination {
	overflow: hidden;
    margin: 0;

	li {
		float: left;
		@extend a.more;
		// border-right: 1px solid $gray-light-2;

		&.label {
			margin-right: $space;
		}
	}

	a {
		padding: $pad/4;
	}

    span.current {
        color: black;
    }
}