/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav {
	clear: none;
	max-height: none;
	border-top: 1px solid #c7cecf;
	text-align: center;
    position:relative;
    padding-bottom:15px;

    .current-menu-item a, .current-menu-parent a {
        color: $gray;
    }

    a {
		display: block;
		padding: $pad;
		color: $offwhite;
		text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2px;

		&:hover, &:active {
			color: $gray;
		}

        @media screen and (max-width: $bp-small-2) {
             padding: $pad $pad/2;
       }
        @media screen and (max-width: $bp-small) {
            padding: $pad $pad/3;
            font-size: 12px;
        }
	}

	&.active {
		max-height: 40em;
	}

	ul {
		display: inline-block;
		text-align: center;
		margin: $space 0 0;

		li {
			float: left;
		}

		a {
			border: 0;
		}

    }    

    @media screen and (max-width: $bp-small) {

		text-align:center;

		ul {
			display: none;
			position: absolute;
			padding: $space/2;
			background: $blue;
			right: 0;
			top: 40px;
		}

		li {
			text-align: center;
			width: 100%;
			margin: 0;
		}

		#menu-icon {
			display:inline-block;
		}

	}
}

@media screen and (max-width: $bp-small) {

	.nav:hover ul {
		display: block;
		z-index: 100;
		width: 100%;
	}

}
#menu-icon {
	display: none;
	margin: $space 0 0;
}

@media screen and (max-width: $bp-small-2) {
	.nav.condensed {

		float:right;

		ul {
			display: none;
			position: absolute;
			padding: $space/2;
			background: $blue;
			right: 0;
			top: 40px;
		}

		li {
			text-align: center;
			width: 100%;
			margin: 0;
		}

		#menu-icon {
			display:inline-block;
		}

		&:hover ul {
			display: block;
			width: auto;
		}
	}
}

//Pagination
.pagination {
	overflow: hidden;
    margin:0;

	li {
		float: left;
		@extend a.more;
		// border-right: 1px solid $gray-light-2;

		&.label {
			margin-right: $space;
		}
	}

	a {
		padding: $pad/4;
	}

    span.current {
        color: black;
    }
}